body {
    display: block;
    align-items: center;
    text-align: center;
}

main{
    display: inline;
}

.form{
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;
    width: 62%;
    height: 440px;
    border-radius: 20px;
    justify-content: end;
    background-color: var(--base-color);
    padding: 10px;
}



p{
    font-size: 15px;
    letter-spacing: 0.2em;
}

form {

    display: block;
    justify-content: center;
    align-self: center;
    align-content: center;
    text-align: center;    
}

.select{
    margin-top: 3%;
    margin-bottom: 1.5%;
}

select{
    text-align: center;
    color: gray;
    font-size: medium;
    width: 72%;
    height: 30px;
}

.submit {
    cursor: pointer;
    text-align: center;
    color: rgb(38, 38, 38);
    background-color: white;
    margin-top: 6%;
    margin-bottom: 2px;
    border-radius: 20px;
    width: 22%;
    height: 33px;
    font-weight: 550;
}

hr{
    background-color: gray;
    color: rgb(74, 74, 74);
    width: 100%;
    height: 2px;
}


.submit:hover {
    width: 22%;
    height: 33px;
    background-color: rgb(255, 255, 206);
    border: 2px solid var(--main-color);
    color: black;
}

@media (max-width: 880px){
    .submit{
        margin-top: 20%;
        width: 28%;
    }

    select {
        cursor: pointer;
        text-align: center;
        color: rgb(38, 38, 38);
        background-color: white;
        margin-top: 9%;
        margin-bottom: 2px;
        border-radius: 10px;
        width: 22%;
        height: 33px;
        font-weight: 550;
    }
}

.form-text {
    text-align: center;
    padding: 5px;
    width: 71%;
    height: 20px;
}

.form-text, select {
    margin-top: 5px;
    border-radius: 15px;
    border-color: var(--main-color);
}