*{
    margin: 0;
    padding: 0;
    border: 0;
    font-style: none;
    text-decoration: none;
}

body {
    background-image: linear-gradient(to bottom, var(--base-color), black);
    background-attachment: fixed;
    color: white;
}

.navbar{
    display: inline-block;
    text-align: center;
    width: 100vw;
    min-height: 120px;
    background-color: var(--main-color);
    font-size: 20px;
}

.nav-div{
    display: inline-block;
}

.nav-list a{
    color: white;
}

.logo-name a{
    color: var(--accent-color);
}

.logo-name p{
    color: var(--accent-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: bolder;
    height: 30px;
    width: 100vw;
    font-size: 45px;
    letter-spacing: 0.1em;
    font-style: italic;
}

nav {
    letter-spacing: normal;
    background-image: linear-gradient(to bottom, var(--main-color), rgb(26, 26, 255));    
    border-radius: 0px 0px 25px 25px;
}

.menu-list {
}

.nav-list{
    text-align: center;    
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100vw;
    color: white;
}

li {
    cursor: pointer;
    margin-top: 35px;
    margin-left: 70px;
    margin-right: 70px;
}

li a:hover{
    color: rgb(255, 255, 43);
}

#graphic-colum{
    width: 100vw;
    display: flex;
    justify-content: center;
}