*{
    margin: 0;
    padding: 0;
    border: 0;
    font-style: none;
    text-decoration: none;
}

body {
    background-image: linear-gradient(145deg, var(--base-color), rgb(23, 66, 119));
    background-attachment: fixed;
    color: white;
}

.logo-name a{
    color: var(--accent-color);
}

img {
    margin-top: 5px;
    max-width: 250px;
}
