.form{

    display: block;
    width: 100%;
    height: 100%;
    text-align: center;    

}

p{
    font-size: small;
}

form {

    display: block;
    justify-content: center;
    align-self: center;

}

.form-text {
    width: 30%;
    height: 10%;
    border-radius: 5px;
}