{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">

    {% block 'head' %}{% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
</head>
<body>
    
    <nav class="navbar">
        <div class="nav-div">

            <div class="logo-name"><a href="#"><p>GraphGen</p></a></div>
            <div class="menu-list">
                <ul class="nav-list">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>

        </div>

            
    </nav>

    <section class="home-section">
        {% block 'dashboard' %}
        {% endblock %}
    </section>

    {% block 'body' %}{% endblock %}
</body>
</html>